
@{
    ViewBag.Title = "Due Report";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Due Report</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Payment Type</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [[5, "asc"]],
                "ajax": {
                    "url": "/Report/DueBillData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Code" },
                    { "data": "FullName" },
                    { "data": "Mobile" },
                    { "data": "Address" },
                    {
                        "data": "PaymentType",
                        "render": function (value) {
                            if (value == 0) return "Monthly"
                            else if (value == 1) return "Prepaid"
                            else if (value == 2) return "Cash"
                            return value;
                        }
                    },
                    { "data": "Balance" }
          
                ],
                "lengthMenu": [[-1, 10, 25, 50], ["All",10, 25, 50]],
                dom:  "lBftip",
                buttons: [
                    {
                        extend: 'excel',
                        className: 'Button',
                        text: '<i class="fas fa-file-excel" aria-hidden="true"></i> Export to Excel '
                    },
               ],
            });
            function ViewCostomer(data) {
                alert(data);
            };

        });
    </script>
}

